.error{
    color:red;
    text-align: left;
}
.label{
    display: block;
    margin: 10px 0px;
}
.send_button{
    width: 50px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
}
.form_content{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    width: 250px;
}

.form_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form_group input{
    width: 80%;
}
.form_checkbox{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.form_group_wrapper{
 text-align: left;
}
